<?xml version="1.0" encoding="UTF-8"?>
<module>
	<version>0.1</version>
	<type>payment</type>
	<name>PayPal</name>
	<shortname>paypal</shortname>
	<description></description>
	<install>
		<class>
			<classname>Model/Payment/Module/PayPal/PayPal</classname>
			<filename>PayPal.php</filename>
			<methods>
				<method>
					<name>install</name>
				</method>
			</methods>
		</class>
		<data>
			<item>
				<key>api_username</key>
				<value></value>
			</item>
			<item>
				<key>api_password</key>
				<value></value>
			</item>
			<item>
				<key>api_signature</key>
				<value></value>
			</item>
			<item>
				<key>testmode</key>
				<value>0</value>
			</item>
		</data>
	</install>
	<controller>
		<action>
			<name>background</name>
			<class>
				<classname>Model/Payment/Module/PayPal/PayPal</classname>
				<filename>PayPal.php</filename>
				<method>
					<name>processResponse</name>
					<attribute>
						<name>objPayment</name>
					</attribute>
				</method>
			</class>
		</action>
		<action>
			<name>prepare</name>
			<class>
				<classname>Model/Payment/Module/PayPal/PayPal</classname>
				<filename>PayPal.php</filename>
				<method>
					<name>prepare</name>
					<attribute>
						<name>objPayment</name>
					</attribute>
				</method>
			</class>
		</action>
		<action>
			<name>confirm</name>
			<class>
				<classname>Model/Payment/Module/PayPal/PayPal</classname>
				<filename>PayPal.php</filename>
				<method>
					<name>confirm</name>
					<attribute>
						<name>objPayment</name>
					</attribute>
				</method>
			</class>
		</action>
		<action>
			<name>process</name>
			<class>
				<classname>Model/Payment/Module/PayPal/PayPal</classname>
				<filename>PayPal.php</filename>
				<method>
					<name>process</name>
					<attribute>
						<name>objPayment</name>
					</attribute>
				</method>
			</class>
		</action>
	</controller>
</module>